/* styles.css */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: unset;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: Nunito, sans-serif;
  font-weight: bold;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
img {
  max-width: 100%;
  width: 100%;
}

:root {
  --primary-color: #ff1a7a;
}

body {
  background-color: var(--primary-color);
}

/* --------------- nav --------------- */

.nav-container {
  background-color: var(--primary-color);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100%;
}
.nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.nav-ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  justify-content: center;
  padding: 1rem;
}
.nav-icon {
  width: 2.6rem;
  height: 2.6rem;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.nav-ul li.active .nav-icon {
  transform: translateY(-2rem);
  -webkit-transform: translateY(-2rem);
  -moz-transform: translateY(-2rem);
  -ms-transform: translateY(-2rem);
  -o-transform: translateY(-2rem);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  z-index: 4;
}
.nav-ul li.active .nav-text {
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.nav-text {
  position: absolute;
  opacity: 0;
  transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  -moz-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  -o-transform: translateY(1rem);
}

.circule {
  position: absolute;
  top: -50%;
  width: 5rem;
  height: 5rem;
  background: var(--primary-color);
  border-radius: 50%;
  border: 5px solid white;
  left: 0;
}

.circule::before {
  content: "";
  position: absolute;
  top: 46%;
  left: -1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  background: transparent;
  border-top-right-radius: 4rem;
  box-shadow: 0px -15px 0 white;
}
.circule::after {
  content: "";
  position: absolute;
  top: 46%;
  right: -1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  background: transparent;
  border-top-left-radius: 4rem;
  box-shadow: 0px -15px 0 white;
}

.nav-ul li:nth-child(1).active ~ .circule {
  transform: translateX(calc(25vw - 3.6rem));
  -webkit-transform: translateX(calc(25vw - 3.6rem));
  -moz-transform: translateX(calc(25vw - 3.6rem));
  -ms-transform: translateX(calc(25vw - 3.6rem));
  -o-transform: translateX(calc(25vw - 3.6rem));
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.nav-ul li:nth-child(2).active ~ .circule {
  transform: translateX(calc(50vw - 2.5rem));
  -webkit-transform: translateX(calc(50vw - 2.5rem));
  -moz-transform: translateX(calc(50vw - 2.5rem));
  -ms-transform: translateX(calc(50vw - 2.5rem));
  -o-transform: translateX(calc(50vw - 2.5rem));
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.nav-ul li:nth-child(3).active ~ .circule {
  transform: translateX(calc(75vw - 1.4rem));
  -webkit-transform: translateX(calc(75vw - 1.4rem));
  -moz-transform: translateX(calc(75vw - 1.4rem));
  -ms-transform: translateX(calc(75vw - 1.4rem));
  -o-transform: translateX(calc(75vw - 1.4rem));
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

/* --------------- top-nav --------------- */

.top-nav {
  color: white;
  font-size: 2.6rem;
  padding: 0.6rem 2rem;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
}

/* --------------- app-body --------------- */

.app-body {
  background-color: #fff;
  height: 200vh;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
